<% if user_signed_in? %>

<div class="hero-unit">
	<h2>Join the fun, <%= link_to "upload your pins!", new_pin_path %></h2>
</div>

<% else %>
<div class="hero-unit">
	<h1>Hello Bebe</h1>
	<p>
		Upload awesome pictures here. Just for youse and me.
	</p>

	<p>
		<%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-success btn-large"%>
	</p>

</div>

<% end %>