<h1>About</h1>

<p>
	<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	is a project to teach 
	<%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
	in a single month. This is a simple application.
</p>
